<html>
<head>
    <title>{% block title %}gen_info["Компанија"] - преглед на плата{% endblock %}</title>
</head>
<body>
    {% block content %}
    <h1>>{{ person_dict["3.1"] }}, {{ person_dict["3.2"] }}, {{ person_dict["3.3"] }}</h1>
    <span>За {{ gen_info["Месец"] }}, {{ gen_info["Година"] }} г.</span>s
    <span>Работни часови: {{ person_dict["3.6"] }}</span>
        
    <table>
    <tr>
    <th>Опис</th>
    <th>Износ</th>
    </tr>
    <tr>
    <td>{{ mpin_dict["3.14"] }}</td> <!--Бруто плата-->
    <td>{{ person_dict["3.14"] }}</td> 
    </tr>
    <tr>
    <td>{{ mpin_dict["3.15"] }}</td> <!--ПИОМ-->
    <td>{{ person_dict["3.15"] }}</td> 
    </tr>
    <tr>
    <td>{{ mpin_dict["3.16"] }}</td> <!--Доплата ПИОМ -->
    <td>{{ person_dict["3.16"] }}</td> 
    </tr>
    <tr>
    <td>{{ mpin_dict["3.40"] }}</td> <!--ФЗОМ-->
    <td>{{ person_dict["3.40"] }}</td> 
    </tr>
    <tr>
    <td>{{ mpin_dict["3.41"] }}</td> <!--Дополнителен ФЗОМ-->
    <td>{{ person_dict["3.41"] }}</td> 
    </tr>
    <tr>
    <td>{{ mpin_dict["3.42"] }}</td> <!--Професионално ФЗОМ-->
    <td>{{ person_dict["3.42"] }}</td> 
    </tr>
    <tr>
    <td>{{ mpin_dict["3.43"] }}</td> <!--Дополнително професионално-->
    <td>{{ person_dict["3.43"] }}</td> 
    </tr>
    <tr>
    <td>{{ mpin_dict["3.44"] }}</td> <!--Невработеност-->
    <td>{{ person_dict["3.44"] }}</td> 
    </tr>
    <tr>
    <td>{{ mpin_dict["3.45"] }}</td> <!--Дополнително невработеност-->
    <td>{{ person_dict["3.45"] }}</td> 
    </tr>
    <td>Даночно осободување</td> <!--Даночно осободување:-->
    <td>{{ tax_free(person_dict, gen_info) }}</td> 
    </tr>
    <tr>
    <td>Даночна основа</td> <!--Даночна основа = Бруто - сите придонеси = Нето + ПДД-->
    <td>{{ tax_base(person_dict) }}</td> 
    </tr>
    <tr>
    <td>{{ mpin_dict["3.46"] }}</td>
    <td>{{ person_dict["3.46"] }}</td> 
    </tr>
    <tr>
    <td>{{ mpin_dict["3.13"] }}</td>
    <td>{{ person_dict["3.13"] }}</td>         
    </tr>
    <tr>
    <td>Задршки од плата</td> <!--Задршки од плата-->
    <td>{{ penalties(person_dict) }}</td> 
    </tr>
    </table> 
    
    <table>
    <tr>
    <th>Издал</th>
    <th>Примил</th>
    </tr>
    <tr>
    <td>______________</td>
    <td>______________</td> 
    </tr>
    </table>
    {% endblock %}
</body>
</html>
