<html>
<head>
    <title>{% block title %}gen_info["Компанија"] - преглед на плата{% endblock %}</title>
</head>
<body>
    {% block content %}
    <h1>>{{ person_dict["3.1"] }}, {{ person_dict["3.2"] }}, {{ person_dict["3.3"] }}</h1>
    <span>За {{ gen_info["Месец"] }}, {{ gen_info["Година"] }} г.</span>s
    Работни часови: {{ person_dict["3.6"] }}
        
    <table>
    <tr>
    <th>Опис</th>
    <th>Износ</th>
    </tr>
    <tr>
    <td></td> <!-- #Бруто плата -->
    <td></td> 
    </tr>
    <tr>
    <td></td> <!--#Придонес ПИОМ-->
    <td></td> 
    </tr>
    <tr>
    <td></td> <!--#Придонес ФЗОМ-->
    <td></td> 
    </tr>
    <tr>
    <td></td> <!--#Придонес АВРМ-->
    <td></td> 
    </tr>
    <tr>
    <td></td> <!--#Дополнителен придонес здравство-->
    <td></td> 
    </tr>
    <tr>
    <td></td> <!--#Даночно осободување:-->
    <td></td> <!--#if gen_info["Часови во месецот"] is not equal to person_dict["3.6"] do some calculations:-->
              <!--#Даночно ослободување = (Нето + ПДД) - ПДД/10%-->

    </tr>
    <tr>
    <td></td> <!--#Даночна основица = Бруто - сите придонеси = Нето + ПДД-->
    <td></td> 
    </tr>
    <tr>
    <td></td> <!--#ПДД-->
    <td></td> 
    </tr>
    <tr>
    <td></td> <!--#Нето плата-->
    <td></td> 
    </tr>
    <!--#and some other stuff if there are in the data...?-->
    </table> 
    
    <table>
    <tr>
    <th>Издал</th>
    <th>Примил</th>
    </tr>
    <tr>
    <td>______________</td>
    <td>______________</td> 
    </tr>
    </table>
    {% endblock %}
</body>
</html>
